attivita.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Attività">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nomeComponente"/>
        <xs:element type="xs:string" name="indirizzoIPClient"/>
        <xs:element type="xs:dateTime" name="istante"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="tipo"/>
    </xs:complexType>
  </xs:element>
</xs:schema>