log/attivita.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Attivita">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="nomeComponente" minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:string" name="indirizzoIPClient" minOccurs="1" maxOccurs="1" />
      	<xs:element type="xs:string" name="tipo"/>
        <xs:element name="marcaTemporale" minOccurs="1" maxOccurs="1" >
			<xs:complexType>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="formato" type="xs:string" use="required" ></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:element>
      </xs:all>
      <xs:attribute type="xs:string" name="nomeApplicazione" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>